.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

.car-container {
  margin: 50px;
}

.car-paper {
  padding: 50px;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}


.cardz{
  display: inline-block;
  width: 400px;
  border-radius: 100%;
  margin: 4em;
  padding: 2em;
}
.link{
  color: black;
}